* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//basic
@import 'basic/variables';
@import 'basic/mixins';


//block
@import 'block/container';
@import 'block/header';
@import 'block/promo';
@import 'block/advantage';
@import 'block/products';
@import 'block/service';
@import 'block/partnership';
@import 'block/baner';

body {
    background-color: $bg-primary;
    font-family: 'Montserrat', sans-serif;
}