//components
@mixin main-btn {
    background-color: $brand-color;
    color: $text-white;
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

//styles
@mixin flexbox-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 24px;
    align-items: stretch;
}

//text-style
@mixin nav {
    color: $text-primary;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
}

@mixin main-h1 {
    color: $text-white;
    font-size: 60px;
    font-weight: 600;
    line-height: 130%;
}

@mixin main-h2 {
    color: $text-primary;
    font-size: 40px;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
}

@mixin body-18 {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    color: $text-primary;
}