.advantage {
    margin-bottom: 120px;

    &__h2 {
        @include main-h2;
        margin-bottom: 40px;
    }

    &__wrapper {
        @include flexbox-container;
    }

    &__card {
        width: 384px;
        height: auto;
        padding: 36px;
        background-color: $bg-secondary;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        justify-content: space-between;
        gap: 24px;
    }

    &__card-title {
        width: 100%;
        margin-bottom: 12px;
        color: $text-primary;
        font-size: 20px;
        font-weight: 600;
        line-height: 130%;
    }

    &__card-descr {
        @include body-18;
    }
}